In [8]:
import pandas as pd
import numpy as np

In [13]:
# read in all our data
data = pd.read_csv("pandasCheck.csv")
data.sample(3)

     2018-01-01 00:01:01;read;country_7;2458151261;SEO;North America
847   2018-01-01 11:28:31;read;country_2;2458152109;...
1668  2018-01-01 22:33:19;read;country_7;2458152930;...
978   2018-01-01 13:06:48;read;country_5;2458152240;...

In [14]:
# read in all our data
data = pd.read_csv("pandasCheck.csv",delimiter=';')
data.sample(3)

      2018-01-01 00:01:01  read  country_7  2458151261      SEO North America
575   2018-01-01 07:53:18  read  country_2  2458151837   Reddit          Asia
1453  2018-01-01 19:44:37  read  country_7  2458152715   Reddit          Asia
874   2018-01-01 11:51:15  read  country_2  2458152136  AdWords        Europe

In [24]:
#Read from a CSV without labels and assign at the reading
data=pd.read_csv('pandasCheck.csv', delimiter=';',
                 names = ['my_datetime', 'event', 'country', 'user_id', 'source', 'topic'])
data.sample(3)

              my_datetime event    country     user_id  source          topic
1467  2018-01-01 20:01:46  read  country_6  2458152728  Reddit  South America
119   2018-01-01 01:45:23  read  country_7  2458151380  Reddit           Asia
703   2018-01-01 09:33:57  read  country_6  2458151964  Reddit           Asia

In [33]:
fails=data.isnull().sum()
print(fails)
if fails['event']:
    print('a')

my_datetime    0
event          0
country        0
user_id        0
source         0
topic          0
dtype: int64

In [56]:
def getRand(Dats):
    tam=0
    while(tam<100):
        ret=Dats.sample(1000)
        eva=ret.isnull().sum()
        print(eva)
        if eva['down']>100:
            tam=1000;
        else:  
            tam=tam+1;
    ret.to_csv('Ejemplo.csv') #Saves to csv file
    return ret
newDat=pd.read_csv("Ejemplo.csv")
if len(newDat)>10000:
    newDat=getRand(newDat)

Date          0
GameID        0
Drive         0
qtr           0
down        147
           ...
Win_Prob     71
WPA          15
airWPA      600
yacWPA      601
Season        0
Length: 102, dtype: int64

In [59]:
print(len(newDat))
newDat.sample(5)

1000

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
205307,2013-11-10,2013111008,23,4,NaN,02:00,2,120.0,12.0,CAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013
108750,2011-10-30,2011103007,4,1,NaN,05:11,6,3011.0,7.0,WAS,...,NaN,0.722092,0.277908,0.715753,0.284247,0.722092,-0.006339,NaN,NaN,2011
191468,2013-10-06,2013100601,12,2,4.0,00:44,1,1844.0,0.0,CIN,...,NaN,0.578833,0.421167,0.525158,0.474842,0.578833,-0.053674,NaN,NaN,2013
276194,2015-09-21,2015092100,4,1,NaN,06:44,7,3104.0,0.0,NYJ,...,NaN,0.284481,0.715519,0.297228,0.702772,0.284481,0.012746,NaN,NaN,2015
244420,2014-10-26,2014102607,8,2,1.0,07:30,8,2250.0,12.0,MIN,...,NaN,0.428944,0.571056,0.455587,0.544413,0.571056,-0.026643,NaN,NaN,2014

## Identificando datos danados

In [74]:
newDat=pd.read_csv("Ejemplo.csv")
faltantes = newDat.isnull().sum()
print(faltantes)
total_cells = np.product(newDat.shape)
total_missing = faltantes.sum()
print(f"El porcentaje de datos correctos es {total_missing*100/total_cells}%\n")

Unnamed: 0      0
Date            0
GameID          0
Drive           0
qtr             0
             ...
Win_Prob       71
WPA            15
airWPA        600
yacWPA        601
Season          0
Length: 103, dtype: int64
El porcentaje de datos correctos es 24.719417475728154%

## Corrigiendo datos danados

In [83]:
#Desechar los datos que no tengan datos
tirartodo=newDat.dropna()#
tirar.head()

Empty DataFrame
Columns: [Unnamed: 0, Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, ...]
Index: []

[0 rows x 103 columns]

In [85]:
#Quitar columnas con al menos un dato danado
columnsfailed = newDat.dropna(axis=1)#0 por default, quita renglones
columnsfailed.head()

,Unnamed: 0,Date,GameID,Drive,qtr,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,Opp_Field_Goal_Prob,Opp_Safety_Prob,Opp_Touchdown_Prob,Field_Goal_Prob,Safety_Prob,Touchdown_Prob,ExPoint_Prob,TwoPoint_Prob,ExpPts,Season
0,359034,2016-12-24,2016122411,16,3,02:51,3,1071.0,32.0,HOU,...,0.102459,0.000843,0.155232,0.331666,0.003986,0.390058,0.000000,0.0,2.337690,2016
1,289930,2015-11-01,2015110100,13,3,08:53,9,1433.0,5.0,DET,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.931115,0.0,0.931115,2015
2,141175,2012-09-23,2012092305,29,5,06:32,7,-508.0,0.0,NO,...,0.008441,0.000127,0.012882,0.952766,0.000213,0.009266,0.000000,0.0,2.807841,2012
3,198848,2013-10-21,2013102100,1,1,06:20,7,3080.0,36.0,MIN,...,0.038893,0.000083,0.060172,0.424279,0.002836,0.470934,0.000000,0.0,4.037001,2013
4,277913,2015-09-27,2015092703,12,2,01:06,2,1866.0,5.0,HOU,...,0.042447,0.000685,0.031653,0.257537,0.000861,0.140363,0.000000,0.0,1.406590,2015

In [86]:
#Rellenar datos faltantes
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html
rell=newDat.fillna(0)
rell.head()

,Unnamed: 0,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,359034,2016-12-24,2016122411,16,3,1.0,02:51,3,1071.0,32.0,...,0.107236,0.553226,0.446774,0.555232,0.444768,0.553226,0.002006,-0.001853,0.003859,2016
1,289930,2015-11-01,2015110100,13,3,0.0,08:53,9,1433.0,5.0,...,0.000000,0.998608,0.001392,0.997368,0.002632,0.998608,-0.001240,0.000000,0.000000,2015
2,141175,2012-09-23,2012092305,29,5,3.0,06:32,7,-508.0,0.0,...,0.000000,0.037754,0.962246,0.000000,0.000000,0.962246,0.000000,0.000000,0.000000,2012
3,198848,2013-10-21,2013102100,1,1,2.0,06:20,7,3080.0,36.0,...,0.000000,0.621005,0.378995,0.612220,0.387780,0.621005,-0.008785,0.000000,0.000000,2013
4,277913,2015-09-27,2015092703,12,2,3.0,01:06,2,1866.0,5.0,...,-1.991217,0.389773,0.610227,0.411309,0.588691,0.610227,-0.021535,0.047666,-0.069202,2015

In [87]:
#Rellenar con datos vecinos
rell2=newDat.fillna(method = 'bfill', axis=0).fillna(0)
rell2.head()

,Unnamed: 0,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,359034,2016-12-24,2016122411,16,3,1.0,02:51,3,1071.0,32.0,...,0.107236,0.553226,0.446774,0.555232,0.444768,0.553226,0.002006,-0.001853,0.003859,2016
1,289930,2015-11-01,2015110100,13,3,3.0,08:53,9,1433.0,5.0,...,-1.991217,0.998608,0.001392,0.997368,0.002632,0.998608,-0.001240,0.047666,-0.069202,2015
2,141175,2012-09-23,2012092305,29,5,3.0,06:32,7,-508.0,0.0,...,-1.991217,0.037754,0.962246,0.612220,0.387780,0.962246,-0.008785,0.047666,-0.069202,2012
3,198848,2013-10-21,2013102100,1,1,2.0,06:20,7,3080.0,36.0,...,-1.991217,0.621005,0.378995,0.612220,0.387780,0.621005,-0.008785,0.047666,-0.069202,2013
4,277913,2015-09-27,2015092703,12,2,3.0,01:06,2,1866.0,5.0,...,-1.991217,0.389773,0.610227,0.411309,0.588691,0.610227,-0.021535,0.047666,-0.069202,2015

# Corrigiendo con scalers

In [88]:
from sklearn.preprocessing import MinMaxScaler

In [89]:
data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
scaler = MinMaxScaler()

In [90]:
print(scaler.fit(data))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [93]:
print(scaler.data_max_)#Muestra el dato mas grande
print(scaler.data_min_)#Muestra el dato mas pequeno

[ 1. 18.]
[-1.  2.]

In [94]:
print('Before')
print(data) #En forma de lista de coordenadas
print('After')
print(scaler.transform(data))

Before
[[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
After
[[0.   0.  ]
 [0.25 0.25]
 [0.5  0.5 ]
 [1.   1.  ]]

In [95]:
print(scaler.transform([[2, 2]]))

[[1.5 0. ]]

## Split para entrenamiento

In [96]:
import numpy as np
from sklearn.model_selection import train_test_split

In [99]:
X, y = np.arange(10).reshape((5, 2)), range(5)
print(X)
print(y)

[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]
range(0, 5)

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
#Divide los datos, test_size porcentaje que sera utilizado para test random_state=none by default